## Practicing Python Pandas techniques. 
### Video Game sales as of 2016. (Source: Kaggle | https://www.kaggle.com/gregorut/videogamesales)

In [2]:
import pandas as pd

#importing the vgsales.csv file.
df = pd.read_csv("Data/vgsales.csv")

In [3]:
## Checking the file column headers. 

df.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

In [6]:
# Getting a sample of 10 rows of the Dataset

df.sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
7066,7068,Pro Yakyuu Team o Tsukurou! 2,PS2,2003.0,Sports,Sega,0.00,0.00,0.23,0.00,0.23
6553,6555,F1 2014,X360,2014.0,Racing,Codemasters,0.08,0.15,0.00,0.02,0.26
12828,12830,Medabots: Metabee,GBA,2002.0,Role-Playing,Natsume,0.04,0.01,0.00,0.00,0.05
3351,3353,LEGO The Hobbit,PS4,2014.0,Action,Warner Bros. Interactive Entertainment,0.12,0.37,0.00,0.10,0.60
11063,11065,Detana TwinBee Yahho! Deluxe Pack,PS,1995.0,Shooter,Konami Digital Entertainment,0.00,0.00,0.08,0.01,0.09
6198,6200,F1 ROC: Race of Champions,SNES,1992.0,Sports,Ocean,0.00,0.00,0.28,0.00,0.28
7798,7800,Supreme Commander 2,PC,2010.0,Strategy,Square Enix,0.00,0.15,0.00,0.04,0.19
10640,10642,GT64 Championship Edition,N64,1998.0,Racing,Ocean,0.08,0.02,0.00,0.00,0.10
12927,12929,Doraemon 2: Nobita no Toizurando Daibouken,SNES,1993.0,Role-Playing,Epoch,0.00,0.00,0.05,0.00,0.05
15843,15846,Otona no Renai Shousetsu: Harlequin Selection,DS,2010.0,Misc,Nintendo,0.00,0.00,0.02,0.00,0.02

## Publisher analysis:

<font color="blue">
<br> 1- Globally best selling Publishers;
<br> 2- Best Selling Platforms;
<br> 3- All regions sales best Publisher;
<br> 4- Unique Publishers;
<br> 5- Publisher best two Platforms in Global Sales; (method with multiple steps)
    <br>-- 5.1 - Custom Series with best selling Platforms (through **rank()**).
    <br>-- 5.2 - Converting a column into type "Category".
    <br>-- 5.3 - Indexing dataframe to display only 2 Platforms per Publisher in results.
<br> 6- Publisher best two Platforms in North America Sales and Global Sales;
</font>

In [4]:
#1 - Ranking Publisher by Sales worldwide
publisher_ranking = df[["Publisher","Global_Sales"]].groupby("Publisher").sum().sort_values("Global_Sales",ascending=False)
publisher_ranking.head(5)

                             Global_Sales
Publisher
Nintendo                          1786.56
Electronic Arts                   1110.32
Activision                         727.46
Sony Computer Entertainment        607.50
Ubisoft                            474.72

In [7]:
#2 Best Selling Platforms

about_platforms = df[["Platform","NA_Sales","EU_Sales","Global_Sales"]].groupby("Platform").sum()
about_platforms.sort_values("Global_Sales", ascending=False).head(10)

          NA_Sales  EU_Sales  Global_Sales
Platform
PS2         583.84    339.29       1255.64
X360        601.05    280.58        979.96
PS3         392.26    343.71        957.84
Wii         507.71    268.38        926.71
DS          390.71    194.65        822.49
PS          336.51    213.60        730.66
GBA         187.54     75.25        318.50
PSP         108.99     68.25        296.28
PS4          96.80    123.70        278.10
PC           93.28    139.68        258.82

In [8]:
#3 - All regions best selling Publishers


# other way to do the above dataframe. But dropping unnecessary columns (rank,year).
df.groupby("Publisher").sum().sort_values("Global_Sales", ascending=False).head(6).drop(["Rank","Year"],axis=1)

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,
Nintendo,816.87,418.74,455.42,95.33,1786.56
Electronic Arts,595.07,371.27,14.04,129.77,1110.32
Activision,429.70,215.53,6.54,75.34,727.46
Sony Computer Entertainment,265.22,187.72,74.10,80.45,607.50
Ubisoft,253.43,163.32,7.50,50.26,474.72
Take-Two Interactive,220.49,118.14,5.83,55.24,399.54

In [9]:
#4- Unique Publishers

# Looking into Publishers
#listing all Publishers
df["Publisher"].unique()[:10]

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft'],
      dtype=object)

## 5 - Publisher and best two Platforms
### > rank publishers by best sales worldwide ("Global_Sales")
### > (s.1)    Store the Series index (best_publishers)
### > (s.2)    Set column Publisher as a category
**_The categorical data type is useful in the following cases:_**
<font color=brown>_The lexical order of a variable is not the same as the logical order (“one”, “two”, “three”). **By converting to a categorical and specifying an order on the categories**, sorting and min/max **will use the logical order instead of the lexical order**, see here._</font><br>
source: https://pandas.pydata.org/pandas-docs/stable/categorical.html

### > (s.3) Specify custom ordering (based on sequence from "best_publishers")

### > (s.4) Collect only 2 platforms by publisher (using rank method)
_df[df...] is called indexing. More explanation about indexing techniques, find in https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing_ <br>
_**"the primary function of indexing with [] (a.k.a. __getitem__ for those familiar with implementing class behavior in Python) is selecting out lower-dimensional slices."**_

In [16]:
# Above, the sorting is not being provided by the Publisher Total Global Sales. 
##> Generate a custom list to drive the sorting.
###> The custom list is "publishers descending sorted by Global_Sales"
# Variable publisher_ranking was generated in "#1 - Globally best selling Publishers"

best_publishers = publisher_ranking.index


#print(type(best_publishers))
#best_publishers

In [12]:
# Transform the column into a category, and replace its ordering index with a custom one (best_publishers).

# (s.1) -Set column Publisher as a Category Type. 
df.Publisher = df.Publisher.astype("category")

# (s.2) Set Column Publisher custom ordering.
df.Publisher.cat.set_categories(best_publishers, inplace=True)

# (s.3) Sum values from Global Sales. 
ff = df.groupby(["Publisher","Platform"])["Global_Sales"].sum()

# (s.4) collect only 3 platforms per Publisher. (Indexing dataframe with [])
ff[ff.groupby(["Publisher"]).rank(method="min", ascending = False) <= 2].head(10)

Publisher                    Platform
Nintendo                     DS          349.75
                             Wii         390.46
Electronic Arts              PS2         255.79
                             X360        181.04
Activision                   PS3         126.39
                             X360        159.02
Sony Computer Entertainment  PS          193.73
                             PS2         172.80
Ubisoft                      Wii          92.21
                             X360         81.59
Name: Global_Sales, dtype: float64

## Publisher and Best 2 Games in North America and Global Sales
_Using best-publishers variable for custom column._

In [18]:
publisher_best_games = df.groupby(["Publisher","Name"])["NA_Sales","Global_Sales"].sum().sort_values(by="NA_Sales",ascending=False)

In [21]:
publisher_best_games[publisher_best_games.groupby("Publisher")["Global_Sales"].rank(method="min", ascending=False) <=2].head(10)

                                                          NA_Sales  \
Publisher              Name
Nintendo               Wii Sports                            41.49
                       Super Mario Bros.                     32.48
Take-Two Interactive   Grand Theft Auto V                    23.46
Activision             Call of Duty: Black Ops               17.59
                       Call of Duty: Modern Warfare 3        15.58
Microsoft Game Studios Kinect Adventures!                    14.97
Take-Two Interactive   Grand Theft Auto: San Andreas         10.77
LucasArts              LEGO Star Wars: The Complete Saga      9.10
Bethesda Softworks     The Elder Scrolls V: Skyrim            8.73
Electronic Arts        Battlefield 3                          8.20

                                                          Global_Sales
Publisher              Name
Nintendo               Wii Sports                                82.74
                       Super Mario Bros.                         45.31
Take-Two Interactive   Grand Theft Auto V                        55.92
Activision             Call of Duty: Black Ops                   31.03
                       Call of Duty: Modern Warfare 3            30.83
Microsoft Game Studios Kinect Adventures!                        21.82
Take-Two Interactive   Grand Theft Auto: San Andreas             23.86
LucasArts              LEGO Star Wars: The Complete Saga         15.75
Bethesda Softworks     The Elder Scrolls V: Skyrim               19.28
Electronic Arts        Battlefield 3                             17.36